/* HTML Tags styles */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  max-width: 1260px;
  margin: 0 auto;
  padding: 10px;
  margin-top: 30px;
}

section {
  margin-bottom: 40px;
}

header {
  background-color: #fff;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav ul li a:hover {
  text-decoration: underline;
  }

  a{
    color: #333;
  }
  a:hover{
    text-decoration: none;
    color: #006778;
    font-weight: bolder;
  }

h1 {
  font-size: 36px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: Arvo;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: Arvo;
}

p {
  font-family: Montserrat;
  font-weight: bold;
}

img {
  padding: 5px;
}

ul {
  font-family: Montserrat;
  font-weight: bold;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
}

table {
  border-collapse: collapse;
  min-width: inherit;
}

th, td {
  text-align: left;
}

th {
  font-weight: normal;
}

td:last-child {
  padding-left: 20px;
}

footer {
  background-color: #f7f8fa;
  color: #333;
  padding: 10px;
  text-align: center;
  font-family: Bacasime Antique;
  margin-top: auto;
}



/* Navigation styles */

.container.fixed-navigation-bar {
  position: fixed;
  top: 0;
  max-width: inherit;
  background-color: #f7f8fa;
  }

  
  /* Index styles */

.headings {
  background-color: #f7f8fa;
  text-align: left;
  font-size: 1rem;
  padding: 10px;
}
.headings-name{
  background-color: #f7f8fa;
}


.profile img {
  padding: 20px;
}

.profile .col-md-6 {
  padding: 20px;
}

.col-md-6{
  text-align: center;
}


/* About/Resume styles */
.resume-name {
  color: #404040;
  text-align: center;
  font-size: 3rem;
  padding: 10px;
}


/* projects styles */

@media (max-width: 700px) {
  .projects {
    display: block;
  }

  .projects-images {
    width: 100%;
    max-width: 200px;
    display: block;
    margin: 0 auto;
  }
}

.projects {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.projects-images {
  width: 30%;
  max-width: 250px;
  border-radius: 50%;
}

.projects div {
  width: 65%;
}

.projects h6 {
  font-size: 18px;
  font-family: Montserrat;
  font-weight: bold;
  margin-top: 0;
}

.projects p {
  font-family: Montserrat;
}


/* contacts styles */

i.hidden {
  display: inline;
  filter: blur(4px);
    }
    
i:hover + i.hidden {
  display: inline;
  filter: none;
    }
